.containerHola{
        background-color:$color-grisclaro; 
        padding: 10em 0 3em;
    .row{
        margin: 0;
        
           .tituloSectionhola{
              @include encabezados ($color-rosa);

        }

        .contenedorItems{
            background-color:$color-rosa;
            border-radius: 0.25em;
            padding: 2em 0;
            width: 90%;
            box-shadow: 14px 65px 74px -43px rgba(90,90,90,0.75);
            -webkit-box-shadow: 14px 65px 74px -43px rgba(90,90,90,0.75);
            -moz-box-shadow: 14px 65px 74px -43px rgba(90,90,90,0.75);

            .txtPresentacion{
                padding: 1em 0;

                .presentacionHola{
                    color: $color-blanco;
                    font-family:sans-serif;
                    font-size: 1,4em;
                    margin: 1em;

                }
            }
            .fotoElena{
                background-image: url("../img/fotoE.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size:cover;
                object-fit: contain;
                width: 11em;
                height: 11em;

            }
        }

    }
    
}
