// VARIABLES paleta de colores nos permite crear valores//
$color-rosa:#FF069F;
$color-gris:#343957;
$color-grisclaro:#e5e5ef;
$color-blanco:#fff;


$title-font:"galeano";
$lectura-font:"champagnefont";
$fontDeco1:"lemonbold";
$fontDeco2:"lemonregular";